* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        font-weight: 700;
    }
}